body {
    background: white;
    color: rgb(71, 16, 16);
    font-size: 200%
}

nav {
    font-family: 'Oswald', sans-serif;
}

head {
    font-family: 'Oswald', sans-serif;
}

.anything {
    font-size: 35px;
}

.julianpic {
    float: right;
    width: 500px;
    height: 600px;
}

.anything {
    float: left;
    width: 700px;
    font-family: 'Merriweather', serif;
}

a {
    color: rgb(71, 16, 16);
}

a:hover {
    color: rgb(92, 89, 92);
}

@media only screen {
    and {
        max-width: 1020
    }
}

#faded {
    animation-name: appear;
    animation-duration: 6s
}

@keyframes appear{
    0% {
        opacity: .25;
        transform: scale(.5);
    }
    50% {
        opacity: 1.5;
        transform: scale(1);
    }
    100%{
        opacity: 1;
        tarnsfomr: scale(1)
    }
}

/*padding: 10px*/