body {
    background: rgb(88, 11, 31);
}   
body {
    color: white
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
body{
    font-size: 35px
}
.anything {
    font-size: 35px;
}
.somethingelse {
    font-style: italic;
}
#anything {
    float: right;
}
#somethingelse {
    float: right;
}
/*padding: 10px;